{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:best-practices",
    ":semanticCommits"
  ],
  "gitAuthor": "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>",
  "minimumReleaseAge": "14 days",
  "customManagers": [
{% include pathjoin("includes", "renovate-template.jinja") ignore missing %}
  ],
  "packageRules": [
    {
      "matchUpdateTypes": ["minor", "patch"],
      "groupName": "non-major dependencies",
      "groupSlug": "non-major"
    },
    {
      "matchUpdateTypes": ["major"],
      "groupName": "major dependencies",
      "groupSlug": "major"
    }{{ ',' if _is_template else '' }}
{% if _is_template %}
    {
      "matchManagers": ["github-actions"],
      "matchFileNames": ["template/**"],
      "enabled": false
    }
{% endif %}
  ]
}
