{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json"{% if _is_template %},
  "customManagers": [
{% include pathjoin("includes", "renovate-template.jinja") ignore missing %}
  ]
{% endif %}
}
