# Managed by copier — changes may be overwritten by `copier update`
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[{justfile,*.just}]
indent_style = tab

[*.nix]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[*.json]
max_line_length = off

[{*.xml,*.iml}]
max_line_length = off
