# Managed by copier — changes may be overwritten by `copier update`
name: PR Checks

on:
  pull_request:
    branches: [{{ "." | gitdefaultbranch }}]

concurrency:
{% raw %}
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
{% endraw %}

permissions:
  contents: read

jobs:
  checks:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0 # v7
      - uses: ./.github/actions/nix-setup
      - name: Lint
        run: nix develop -c just lint
      - name: Test
        run: nix develop -c just test
      - name: Integration Test
        run: nix develop -c just test-integration
{% include pathjoin("includes", "ci-consistency-job.jinja") ignore missing %}
