{% if _is_template %}
  consistency:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./.github/actions/nix-setup
      - name: Set up Git
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Regenerate from template
        run: nix develop -c just render
      - name: Check for drift
        run: |
          git diff
          test -z "$(git status --porcelain)"
{% endif %}
