{% if _is_template %}

  consistency:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9c091bb21b7c1c1d1991bb908d89e4e9dddfe3e0 # v7
      - uses: ./.github/actions/nix-setup
      - name: Set up Git
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Regenerate from template
        run: nix develop -c just render
      - name: Check for drift
        run: |
          git checkout -- .copier-answers.yaml
          git diff
          test -z "$(git status --porcelain)"
{% endif %}
